html, body {
	height: 100%;
}

body {
	background:black;
	background: -moz-linear-gradient(left top, #000, #333 30%, #666 55%, #999 70%, #fff 100%);
	background: -webkit-linear-gradient(left top,  #000, #333 30%, #666 55%, #999 70%, #fff 100%);
	background: linear-gradient(to bottom right,   #000, #333 30%, #666 55%, #999 70%, #fff 100%);
	/*
	background: -moz-linear-gradient(to right, black, white);
	background: -webkit-linear-gradient(to right, black, white);
	background: linear-gradient(to right,  #000, #333 30%, #666 40%, #999 70%, #fff 100%);
	*/

	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

a {
	color: #ffffff;
}

#info {
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#z-arrow {
	width: 1000px;
	height: 160px;
	text-align: center;
	display: none;
}
	#z-arrow .img {
		width: 1000px;
		height: 160px;
	}
	#z-arrow .square {
		float: left ;
		border: 1px solid rgba(0,0,0,0.25);
		text-align: center;
		cursor: default;
		width: 30px;
		height: 15px;
		margin-right: 7.2px;
		font-size: 5px;
		color: #ffffff;
		margin-top: 45px;
		background-color: #000000;
	}
	#x-arrow .right-title {
		text-align: left;
		font-size: 20px;
		color: #ffffff;
	}
	#z-arrow .right-arrow {
		margin-top: 45px;
		float: left ;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-left-color: #000000;
	}

#y-arrow {
	width: 160px;
	height: 900px;
	text-align: center;
	display: none;
}
	#y-arrow .img {
		width: 1000px;
		height: 160px;
	}
	#y-arrow .square {
		border: 1px solid rgba(0,0,0,0.25);
		text-align: center;
		cursor: default;
		width: 15px;
		height: 30px;
		font-size: 5px;
		margin-bottom: 7.2px;
		color: #ffffff;
		background-color: #000000;
	}
	#y-arrow .top-title {
		text-align: left;
		font-size: 30px;
		color: #ffffff;
	}
	#y-arrow .bottom-title {
		text-align: left;
		font-size: 30px;
		color: #ffffff;
	}
	#y-arrow .top-arrow {
		margin-bottom: 7.2px;
		width: 0;
		height: 0;
		border: 9px solid transparent;
		border-bottom-color: #000000;
	}
	#y-arrow .bottom-arrow {
		margin-bottom: 7.2px;
		width: 0;
		height: 0;
		border: 9px solid transparent;
		border-top-color: #000000;
	}

#x-arrow {
	width: 1500px;
	height: 160px;
	text-align: center;
	display: none;
}
	#x-arrow .img {
		width: 1000px;
		height: 160px;
	}
	#x-arrow .square {
		float: left ;
		border: 1px solid rgba(0,0,0,0.25);
		text-align: center;
		cursor: default;
		width: 30px;
		height: 15px;
		margin-right: 7.2px;
		font-size: 5px;
		color: #ffffff;
		background-color: #000000;
	}
	#x-arrow .left-title {
		margin-right: 7.2px;
		float: left ;
		text-align: left;
		font-size: 30px;
		color: #ffffff;
	}
	#x-arrow .right-title {
		text-align: left;
		font-size: 30px;
		color: #ffffff;
	}
	#x-arrow .left-arrow {
		margin-right: 7.2px;
		float: left ;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-right-color: #000000;
	}
	#x-arrow .right-arrow {
		margin-right: 7.2px;
		float: left ;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-left-color: #000000;
	}

#key-slide-1 {
	width: 600px;
	height: 600px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
}

#key-slide-2 {
	width: 600px;
	height: 600px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
}

#key-slide-3 {
	width: 600px;
	height: 600px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
}
#fin-slide {
	width: 600px;
	height: 600px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
}

#surface-key-slide-1 {
	width: 400px;
	height: 400px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
	display: none;
}

#surface-key-slide-2 {
	width: 400px;
	height: 400px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
	display: none;
}

#surface-key-slide-3 {
	width: 400px;
	height: 400px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
	display: none;
	z-index: 2;
}

#surface-key-slide-4 {
	width: 400px;
	height: 400px;
	text-align: center;
	cursor: default;
	background-color: #ffffff;
	display: none;
}
	#surface-key-slide-4 .title {
		margin-top: 250px;
		font-size: 30px;
	}


#area-1 {
	width: 870px;
	height: 640px;
	box-shadow: 0px 0px 12px rgba(255,0,0,0.9);
	border: 1px solid rgba(255,0,0,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(255,150,150,0.25);
	display: none;
}
#area-2 {
	width: 870px;
	height: 620px;
	box-shadow: 0px 0px 12px rgba(0,255,0,0.9);
	border: 1px solid rgba(0,255,0,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(150,255,150,0.25);
	display: none;
}
#area-3 {
	width: 870px;
	height: 640px;
	box-shadow: 0px 0px 12px rgba(0,0,255,0.9);
	border: 1px solid rgba(0,0,255,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(50,50,255,0.25);
	display: none;
}
#area-4 {
	width: 870px;
	height: 620px;
	box-shadow: 0px 0px 12px rgba(255,255,50,0.9);
	border: 1px solid rgba(255,255,50,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(255,255,150,0.25);
	display: none;
}

#surface-1 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(255,0,0,0.9);
	border: 1px solid rgba(255,0,0,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(255,150,150,0.5);
	display: none;
	z-index: 1;
}
#surface-2 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(0,255,0,0.9);
	border: 1px solid rgba(0,255,0,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(150,255,150,0.5);
	display: none;
	z-index: 1;
}
#surface-3 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(0,0,255,0.9);
	border: 1px solid rgba(0,0,255,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(50,50,255,0.5);
	display: none;
	z-index: 1;
}
#surface-4 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(255,255,50,0.9);
	border: 1px solid rgba(255,255,50,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(255,255,150,0.5);
	display: none;
	z-index: 1;
}
#surface-5 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(50,50,255,0.9);
	border: 1px solid rgba(50,50,255,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(50,150,255,0.5);
	display: none;
	z-index: 1;
}
#surface-6 {
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 12px rgba(255,50,255,0.9);
	border: 1px solid rgba(255,50,255,0.25);
	text-align: center;
	cursor: default;
	background-color: rgba(255,150,255,0.5);
	display: none;
	z-index: 1;
}




.element {
	width: 180px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.9);
	border: 1px solid rgba(127,255,255,0.25);
	text-align: center;
	cursor: default;
	display: none;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,1);
	border: 1px solid rgba(127,255,255,0.75);
}

	.element .number {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 10px;
		color: rgba(150,255,255,1);
	}

	.element .img {
		position: absolute;
		top: 7.5px;
		left: 20px;
		right: 0px;
		width: 120px;
		height: 120px
	}

	.element .details {
		position: absolute;
		bottom: 5px;
		left: 0px;
		right: 0px;
		font-size: 20px;
		color: rgba(150,255,255,1);
	}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}
